Repository jonathanmartins81/gradualinfo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check, test

format:
  run: npx prettier --write {staged_files}

lint:
  run: npx eslint --fix {staged_files}

type-check:
  run: npx tsc --noEmit

test:
  run: npx vitest run --reporter=verbose {staged_files}

🎨 README: Adicionado logo SVG no topo da página
  README.md
Due: format

📚 README: Melhorada seção de Testing & Documentation com Playwright e estratégia completa
  README.md
Due: format

🔧 Husky: Melhorado pre-commit hook com cores, funções e otimizações
  .husky/pre-commit
Due: none

📄 Adicionado arquivo LICENSE e corrigido formatação do layout
  LICENSE
Due: none

🛡️ Pre-commit: Testes obrigatórios e qualidade aprimorada
  .husky/pre-commit
  README.md
Due: format

🧪 Teste do pre-commit hook
  TESTE.md
Due: format

🧹 Removido arquivo de teste
  TESTE.md
Due: format

🧪 Teste de bloqueio por formatação
  src/test-format.ts
Due: format, lint, type-check, test

🧪 Teste de bloqueio por erro de tipo
  src/test-fail.ts
Due: format, lint, type-check, test

🧪 Teste de bloqueio por falha nos testes
  src/test-fail.test.ts
Due: format, lint, type-check, test

🧪 Teste do pre-commit hook com falha
  src/test-hook.ts
Due: format, lint, type-check, test

🛡️ Lefthook: Testes obrigatórios configurados - demonstração de bloqueios funcionando
  lefthook.yml
Due: format

🎨 Formatação corrigida
  README.md
Due: format

🔧 Lefthook: Ajustado pre-push para não bloquear por dependências
  lefthook.yml
Due: format

🔧 ESLint: Configuração v9 corrigida - demonstração de bloqueio por qualidade funcionando
  eslint.config.js
  src/test-quality.ts
Due: format, lint, type-check, test

🔧 ESLint: Revertido para configuração original funcionando
  eslint.config.js
  src/test-fail.test.ts
  src/test-fail.ts
  src/test-format.ts
  src/test-hook.ts
  src/test-quality.ts
Due: format, lint, type-check, test

feat: 100% Test Coverage Achieved - 75/75 Tests Passing
  PACKAGE.md
  README.md
  TEST_COVERAGE_IMPROVEMENTS.md
  eslint.config.js
  package.json
  src/app/about/page.test.tsx
  src/app/page.test.tsx
  src/app/portfolio/page.test.tsx
  src/components/DynamicSEO.test.tsx
  src/components/JsonLd.test.tsx
  src/components/Main/Main.test.tsx
  src/components/Main/index.tsx
  src/utils/SEO.test.ts
Due: format, lint, type-check, test

fix: corrigir configuração ESLint e adicionar type module
  .eslintignore
  .gitignore
  eslint.config.js
  public/favicon.png
  public/favicon.svg
  public/img/illustration.svg
  public/img/logo-aqua9.svg
  public/img/logo-gh-aqua9.svg
  src/app/about/page.test.tsx
  src/app/page.test.tsx
  src/app/portfolio/page.test.tsx
  src/components/DynamicSEO.test.tsx
Due: format, lint, type-check, test

fix: corrigir configurações finais e adicionar relatório de status
  PROJECT_STATUS_REPORT.md
  eslint.config.js
  next.config.js
  package.json
  test-project.sh
Due: format, lint, test

fix: adicionar globals ao ESLint para resolver erros de build
  eslint.config.js
Due: format, lint, test

feat: implementar configurações completas de auto-correção ao salvar
  .editorconfig
  .eslintrc.json
  .gitignore
  .prettierrc.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  AUTO_CORRECTION_SETUP.md
  eslint.config.js
  package-lock.json
  package.json
  src/app/sitemap.ts
  src/components/DynamicSEO.tsx
Due: format, lint, type-check, test

docs: traduzir README.md e garantir conformidade com Prettier, ESLint e EditorConfig
  AUTO_CORRECTION_SETUP.md
  README.md
Due: format

docs: atualizar README.md com melhorias na documentação
  README.md
Due: format

fix: corrigir erros de ESLint para build e push
  src/app/error.test.tsx
  src/components/AccessibilityProvider.tsx
  src/middleware.ts
  src/styles/theme.test.ts
Due: format, lint, type-check, test

docs: traduzir README.md para português brasileiro
  README.md
Due: format

feat: implementar sistema completo de segurança e proteção de rotas
  IMPROVEMENTS_ROADMAP.md
  SECURITY_GUIDE.md
  SECURITY_IMPLEMENTATION_SUMMARY.md
  package-lock.json
  package.json
  src/app/admin/page.tsx
  src/app/api/auth/login/route.ts
  src/app/api/auth/me/route.ts
  src/app/dashboard/page.tsx
  src/app/login/page.tsx
  src/components/ProtectedRoute.tsx
  src/hooks/useAuth.ts
  src/lib/auth.ts
  src/lib/security.ts
  src/middleware.ts
Due: format, lint, type-check, test

style: corrigir formatação e espaçamento nos arquivos de segurança
  SECURITY_IMPLEMENTATION_SUMMARY.md
  src/app/admin/page.tsx
  src/app/dashboard/page.tsx
  src/app/login/page.tsx
  src/hooks/useAuth.ts
Due: format, lint, type-check, test

feat: implementar melhorias profissionais do roadmap
  .github/workflows/ci.yml
  .vscode/settings.json
  IMPROVEMENTS_ROADMAP.md
  README.md
  package.json
  scripts/setup.js
  src/app/robots.ts
  src/app/sitemap.ts
Due: format, lint, type-check, test

🎨 feat: conversão completa para Tailwind CSS
  IMPROVEMENTS_ROADMAP.md
  PROJECT_COMPLETION_REPORT.md
  README.md
  TAILWIND_CSS_CONVERSION_REPORT.md
  package-lock.json
  package.json
  postcss.config.js
  src/app/globals.css
  src/app/layout.tsx
  src/app/tailwind-demo/page.tsx
  src/components/Main/index.tsx
  src/components/TailwindDemo.tsx
  tailwind.config.ts
Due: format, lint, type-check, test

🚀 feat: elevação final do padrão - design system, segurança, testes e documentação
  .releaserc.json
  CONTRIBUTING.md
  FINAL_IMPROVEMENTS_REPORT.md
  src/middleware.ts
  src/styles/theme.ts
  src/test-utils/index.ts
Due: format, lint, type-check, test

🚀 feat: elevação final do padrão - design system, segurança, testes e documentação
  FINAL_IMPROVEMENTS_REPORT.md
Due: format

🔧 fix: corrige erro de dependência circular no CSS e configuração PostCSS
  postcss.config.js
  src/app/globals.css
Due: format, lint, test

🔧 fix: corrige testes e configurações - theme, CSS e testes unitários
  src/app/error.test.tsx
  src/app/not-found.test.tsx
  src/components/Main/Main.test.tsx
  src/styles/theme.test.ts
  src/styles/theme.ts
  tests/e2e/home.spec.ts
  tests/e2e/portfolio.spec.ts
Due: format, lint, type-check, test

🎉 feat: testes com 99.1% de sucesso - correções finais theme e CSS
  README.md
  src/app/error.test.tsx
  src/app/not-found.test.tsx
  src/styles/theme.test.ts
  src/styles/theme.ts
Due: format, lint, type-check, test

🎨 feat: implementa sistema de tema claro/escuro completo - ThemeProvider, ThemeSwitcher e demonstração
  public/img/logo-dark.svg
  public/img/logo-light.svg
  src/app/globals.css
  src/app/page.test.tsx
  src/app/providers.tsx
  src/app/theme-demo/page.tsx
  src/components/Main/Main.test.tsx
  src/components/Main/index.tsx
  src/components/ThemeSwitcher.tsx
  src/contexts/ThemeContext.tsx
  src/styles/theme.ts
Due: format, lint, type-check, test

🎨 feat: sistema de tema claro/escuro completo - correções finais nos testes
  src/app/error.test.tsx
  src/app/page.test.tsx
  src/components/Main/Main.test.tsx
Due: format, lint, type-check, test

🎨 feat: logo dinâmica baseada no tema - logo-light.svg para tema claro e logo-dark.svg para tema escuro
  src/app/page.test.tsx
  src/components/Main/Main.test.tsx
  src/components/Main/index.tsx
Due: format, lint, type-check, test

🎨 feat: logo dinâmica implementada - testes com mocks corrigidos
  src/app/page.test.tsx
  src/components/Main/Main.test.tsx
Due: format, lint, type-check, test

🔧 fix: correções de linting - use client e imports
  src/components/Main/Main.test.tsx
  src/components/TailwindDemo.tsx
Due: format, lint, type-check, test

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  lint: any of: *.{js,jsx,ts,tsx}
  type-check: any of: *.{ts,tsx}
  test: any of: *.{js,jsx,ts,tsx}
